<!doctype html>
<html ng-app="gameServerAdmin">
<head>
  <title>Game server Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="controller.js"></script>

  <style>
    .table > tbody > tr > td {
      vertical-align: middle;
    }
    .entry {
      margin: 5px;
      padding:5px;
      border-radius: 5px;
    }
    .entry.notDrafted {
      border: 1px solid green;
      background-color: lightgreen;
    }
    .entry.drafted {
      border: 1px solid orange;
      background-color: lightyellow;
    }
  </style>
</head>
<body ng-controller="mainController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Game Server Admin</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Dashboard</a></li>
          <li class="active"><a href="#">Templates <span class="sr-only">(current)</span></a></li>
          <li><a href="https://docs.google.com/document/d/1wnlu6XXX99QiN26O_IvRFwD2cyiHqerfkuOZSUoXFkg/edit?usp=sharing" target="_blank">API DOCS</a></li>
          <li><a href="#">Statistics</a></li>
      </ul>
    </div>
  </nav>

  <div class = "container">
    <div class="row">
      <div class="col-md-7" id="status">
        <div class="panel panel-default">
          <h3 class="text-center">Status <button class="btn btn-primary" ng-click="refreshClient()">Refresh</button></h3>
          <hr>
          <div ng-repeat="element in statusData.queues">
            <span>{{element.queueId}}</span>
            <span>{{element.status}}</span>
            <span data-toggle="collapse" data-target="#config{{element.queueId}}">Config
              <span class="caret"></span></span>
            <span data-toggle="collapse" data-target="#entries{{element.queueId}}">Entries
              <span class="caret"></span></span>
            <div id="config{{element.queueId}}" class="collapse">
              <pre>{{element.config}}</pre>
            </div>
            <div id="entries{{element.queueId}}" class="collapse">
              <div class="entry {{isDrafted(entry.drafted)}}" ng-repeat="entry in element.entries">
                <span>{{entry.player.name}}</span>
                <pre>{{entry}}</pre>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-md-5" id="controls">
        <div class="row">
          <h3 class="text-center">Controls</h3>
        </div>
        <div class="row">
          <button class="btn btn-primary col-md-4" ng-click="createClient()">Create Client</button>
          <span>{{clientId}}</span>
          <button class="btn btn-info col-md-4" ng-click="createQueue()">Create Queue</button>
        </div>
        <div class="row">
          <button class="btn btn-danger col-md-4" ng-click="addPlayer()">Add random Player</button>
          <span calss="col-md-4">Add player to:</span>
          <input type="text" class="col-md-4 text-center" placeholder="Queue Id" id="queueIdInput" ng-model="formData.queueId">
        </div>
        <h4>Response: <a class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#resBody">Hide</a></h4>
        <span class="{{errorHappened}}">
          <a class="btn btn-danger disabled btn-sm" type="button">ERROR</a>
        </span>
        <pre id="resBody"class="collapse in">{{resBody}}</pre>
        <hr>
      </div>
    </div>
  </div>
</body>
</html>
